footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 500px;
}

.iconos{
    margin-top: 0;
    width: 100px;
    height: 100px;
}

.logo{
    margin-top: 20px;
    width: 100px;
    height: 60px;
}
