body{
    background-image: url("../img/backgrounddos.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #212529;
}

.navbar-dark .navbar-nav .nav-link {
    color: #212529;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
}
.btn{
    margin-top: 3%;
    margin-left: 50%;
    background-color: black;
    border-color: black ;
    color: orange;
}
