.ssj1{
    background-color: white;
    padding-top: 0;
    margin-top: 50px; 
    width: 100vw;
    max-width: 1903px;
    min-width: 320px;
}

.ssj1 img{
    width: 100%;
    margin-top: 50px;
    margin-top: 0;
}

.ssjgod{
    background-color: white;
    padding-top: 0;
    margin-top: 50px;
}

.ssjgod img{
    margin-top: 0;
}

.ui{
    background-color: white;
    padding-top: 0;
    margin-top: 50px;
}

.ui img{
    margin-top: 0;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 50px;
    font-size: 20px;
}

